@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0 auto;
   
    height: 100vh;
    margin: 0 auto;
    box-sizing: inherit;
 
}


header {
  align-items: center;
  justify-content: flex-end;
  display: flex;
    background-color: black;
    height: 100px; 
    width: 100%;
    position: fixed;
    z-index: 1;

  
}


.navbar {
    display: flex;
   
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .navbar li a {
    text-decoration: none;
    color: #ffff;
    padding: 5px;
  }
  
  .navbar li a:hover {
    color: #000;
    background-color: #ddd;
  }
  
#home {
   
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Poppins';
    height: 100%;
    gap: 300px;
    
}


#home .pai {
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;  
    color: #2f1c6a;
   
 
}
#home .tit-inic h1 {
   
    color: #2f1c6a;
    font-size: 30px;
   
}

#home .ofertas .alinhar {
    flex-direction: column;
}


#home .ofertas .alinhar p {
   font-size: 24px;
   
   
}

#home .ofertas .alinhar .icon  {
    font-size: 40px;
}


#home .preco {
    
    flex-direction: column;
    
}

#home .preco button{
    align-items: center;
    background-color: #673de6;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    line-height: 1;
    min-height: 48px;
    padding: 12px 16px;
    position: relative;
    text-align: center;
    transition: .3s ease-in-out;
    transition-property: color,width,background-color;
    width: 100%;
    font-weight: 700;
    font-family: 'Poppins';
  
}



#home .imagem {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 500px;
    
}


#planos .pai {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 30px;
   
}
#planos .pai .premium {
    width: 300px;
    padding: 40px;
    height: 1500px;
    text-align: center;
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: width,box-shadow 500ms ease-in-out;
}

#planos .pai  .header {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins';
}

#planos .pai  .header h4{
    font-weight: bolder;
}


#planos .pai .premium .preco button {
    align-items: center;
    background-color: #673de6;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    line-height: 1;
    min-height: 48px;
    padding: 12px 16px;
    position: relative;
    text-align: center;
    transition: .3s ease-in-out;
    transition-property: color,width,background-color;
    margin: auto;
    font-weight: 700;
    font-family: 'Poppins';
  

}
#planos .pai .business .preco button {
    align-items: center;
    background-color: #673de6;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    line-height: 1;
    min-height: 48px;
    padding: 12px 16px;
    position: relative;
    text-align: center;
    transition: .3s ease-in-out;
    transition-property: color,width,background-color;
    margin: auto;
    font-weight: 700;
    font-family: 'Poppins';
}



#planos .pai .preco h1 {
    font-weight: 700;
    font-family: 'Poppins';
}

#planos .pai .preco span {
   color: red;
}

#planos .pai .business{
    width: 300px;
    padding: 40px;
    height: 1500px;
 
    text-align: center;
   
    border: 2px solid blue;
    transition: width,box-shadow 500ms ease-in-out;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#planos .pai .business .header {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#planos .pai .startup{
    width: 300px;
    padding: 40px;
    height: 1500px;
    text-align: center;
    
    border: 2px solid blue;
    transition: width,box-shadow 500ms ease-in-out;
}

#planos .pai .startup .header {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#planos .pai .startup {


display: flex;
    justify-content: center;
    flex-direction: column;
}

#planos .pai .startup .preco button {
    align-items: center;
    background-color: #673de6;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    line-height: 1;
    min-height: 48px;
    padding: 12px 16px;
    position: relative;
    text-align: center;
    transition: .3s ease-in-out;
    transition-property: color,width,background-color;
    margin: auto;
    font-weight: 700;
    font-family: 'Poppins';
  

}


/* hovers */

#planos .pai .premium:hover {
    width: 300px;
    box-shadow: 4px 10px 10px black;
}


#planos .pai .business:hover{
    width: 300px;
    box-shadow: 4px 10px 10px black;
}

#planos .pai .startup:hover {
    width: 300px;
    box-shadow: 4px 10px 10px black;
}






#planos .pai .premium .itens .certo {
    
    color: green;
 }

#planos .pai .premium .itens .errado {
 font-size: 15px;
 color: red;
}

#planos .pai .business .itens .certo {
    color: green;
}

#planos .pai .business .itens .errado {
 font-size: 15px;
 color: red;
}

#planos .pai .startup .itens .certo {
    
    color: green;
  }

#planos .pai .startup .itens .errado {
 font-size: 15px;
 color: red;
}

      

#planos .pai .itens  p {
    
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
 }

      



#seguranca {
    background-color: #673de6;
    margin-top: 30px;
}
#seguranca .pai img {
    width: 600px;
    font-family: 'Poppins';
    margin-top: 30px;
   
}

#seguranca .pai {
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    display: flex;
    color: white;
    
   
   
}

#seguranca .pai h1 {
    text-align: center;
    font-size: 40px;
    filter: drop-shadow(10px 10px 10px black);
    
  
}

#seguranca   .pai .tit {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
   
    
}

#seguranca .pai .tit p {
    font-size: 24px;
    filter: drop-shadow(10px 10px 10px black);
   
   
}

#seguranca .pai .tit .icon {
    font-size: 24px;
}


#seguranca .boxs {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    padding: 10px;
    filter: drop-shadow(10px 10px 10px black);
  
   
}

#seguranca .boxs .left {
    background-color: #5025d1;
    border-radius: 8px;
    width: 500px;
    height: 300px;
    
    
}

#seguranca .boxs p {
    height: 300px;
    filter: drop-shadow(10px 2px 4px black);
}


#seguranca .boxs .mid {
        background-color: #5025d1;
        border-radius: 8px; 
        width: 500px;
        height: 300px;
}

#seguranca .boxs .right {
    background-color: #5025d1;
    border-radius: 8px;

    width: 500px;
    height: 300px;
}




#feedback .boxs p {
color: #2f1c6a;
font-weight: 700;

}

#feedback .tit {
    margin-top: 30px;
    color: #2f1c6a;
    font-size: 30px;
    font-family: 'Poppins';
    align-items: center;
    justify-content: center;
    display: flex;
   
}

#feedback .boxs {
   font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    line-height: 24px;
    filter: drop-shadow(10px 10px 10px black);
    
}


#feedback .boxs .left {
    text-align: center;
    justify-content: center;
    display: flex;
    border: 1px solid blue;
    height: 250px;
    padding: 32px;
    box-sizing: border-box;
}

#feedback .boxs .left .icone {
    height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}


#feedback .boxs .icone {
    background-color: #5025d1;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* 
#feedback .boxs .left .sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
} */

#feedback .boxs .left .icone img {
    height: 100px;
    border-radius: 8px;
}


#feedback .boxs .mid {
    text-align: center;
    justify-content: center;
    display: flex;
    border: 1px solid blue;
    height: 250px;
    padding: 32px;
    box-sizing: border-box;

}


#feedback .boxs .right {
    text-align: center;
    justify-content: center;
    display: flex;
    border: 1px solid blue;
    height: 250px;
    padding: 32px;
    box-sizing: border-box;
}


#feedback .boxs .mid .icone  {
   
    height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  
}


#feedback .boxs .mid .icone img {
    height: 100px;
    border-radius: 8px;
   
}

/* #feedback .boxs .mid .sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
 */


#feedback .boxs .right .icone  {
   
    height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
}


#feedback .boxs .right .icone img {
    height: 100px;
    border-radius: 8px;
}



#feedback .boxs .sobre .left {
   gap: 30px;
}

/* #feedback .boxs .right .sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

 */
